$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5)
);

.code-circle {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: solid;
}

.code-circle:disabled:hover {
    border-color: rgba(0,0,0,0);
}

.code-circle:hover {
    border-color: rgba(0,0,0, 0.50);
}

.code-peg {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: solid;
}

ul.code-dropdown {
    min-width: 0;
}

.code-dropdown a {
    padding: 0;
}

.default-cursor {
    cursor: default;
}

.game-card {
    width: 40rem;
}

.color-neutral {
    background-color: #F6eCF5;
    border-color: #F6eCF5;
}

.color-white {
    background-color: #f0efed;
    border-color: #f0efed;
}

.color-red {
    background-color: #f36069;
    border-color: #f36069;
}

.color-black {
    background-color: #373532;
    border-color: #373532;
}

.col ul.dropdown-menu {
    top: inherit;
}

.outside {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
  }

$codeColors: (
    0: #BFB2F3,
    1: #96CAF7,
    2: #9CDCAA,
    3: #E5E1AB,
    4: #F3C6A5,
    5: #F8A3A8
);

@each $number, $color in $codeColors {
    .color-#{$number} {
        background-color: $color;
        border-color: $color;
    }
}

@import "bootstrap/scss/bootstrap";
